<div class="header">
    <!-- <div class="container">
        <div #facebook class="marketing-icon">
            <mat-icon>facebook</mat-icon>
        </div>
        <div #email class="marketing-icon">
            <mat-icon>email</mat-icon>
        </div>
        <div #YouTube class="marketing-icon">
            <img src="https://img.icons8.com/material/24/000000/youtube--v1.png"/>
        </div>
    </div> -->
    <header>
        <div>
            <img src="../../assets/logo.PNG" class="logo">
        </div>
    </header>
    <!-- <nav>
        <div class="flex">
            <div class="grow2"></div>
            <div class="navbar">
                <div>
                    <label>ראשי</label>
                </div>
                <div>
                    <label>גלריה</label>
                </div>
                <div>
                    <label>מוצרים</label>
                </div>
            </div>
            <div class="grow2"></div>
        </div>
    </nav> -->
    <nav class="nav">
        <ul class="menuItems">
          <li><a href='#' data-item='Home'>Home</a></li>
          <li><a href='#' data-item='About'>About</a></li>
          <li><a href='#' data-item='Projects'>Projects</a></li>
          <li><a href='#' data-item='Blog'>Blog</a></li>
          <li><a href='#' data-item='Contact'>Contact</a></li>
        </ul>
      </nav>
</div>
<div>
    <app-food-card></app-food-card>
</div>